<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.auto.WxCommentMapper">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.WxComment">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="postid" jdbcType="VARCHAR" property="postid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="posttime" jdbcType="TIMESTAMP" property="posttime" />
    <association property="user" javaType="com.fc.test.model.auto.WxUser">
      <id property="id" column="id"/>
      <result column="nickname" jdbcType="VARCHAR" property="nickname" />
      <result column="avatarUrl" jdbcType="VARCHAR" property="avatarurl" />
      <result column="sign" jdbcType="VARCHAR" property="sign" />
    </association>
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from wx_comments p, wx_users u
    where id = #{id,jdbcType=VARCHAR} and u.id = p.userid
  </select>
  <select id="selectByPostId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from wx_comments p, wx_users u
    where postid = #{postid,jdbcType=VARCHAR} and u.id = p.userid
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    select *
    from wx_comments p, wx_users u where u.id = p.userid
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wx_comments
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fc.test.model.auto.WxComment">
    insert into wx_comments (id, userid, postid, 
      content, status, posttime
      )
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{postid,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{posttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fc.test.model.auto.WxComment">
    insert into wx_comments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="postid != null">
        postid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="posttime != null">
        posttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="postid != null">
        #{postid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="posttime != null">
        #{posttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.test.model.auto.WxComment">
    update wx_comments
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="postid != null">
        postid = #{postid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="posttime != null">
        posttime = #{posttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.test.model.auto.WxComment">
    update wx_comments
    set userid = #{userid,jdbcType=VARCHAR},
      postid = #{postid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      posttime = #{posttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>