<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.auto.WxPostMapper">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.WxPost">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="flags" jdbcType="VARCHAR" property="flags" />
    <result column="class" jdbcType="VARCHAR" property="class" />
    <result column="begintime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
      <association property="user" javaType="com.fc.test.model.auto.WxUser">
          <id property="id" column="id"/>
          <result column="nickname" jdbcType="VARCHAR" property="nickname" />
          <result column="avatarUrl" jdbcType="VARCHAR" property="avatarurl" />
          <result column="sign" jdbcType="VARCHAR" property="sign" />
      </association>
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from wx_posts p, wx_users u
    where id = #{id,jdbcType=VARCHAR} and u.id = p.userid
  </select>
    <select id="selectList" resultMap="BaseResultMap">
    select *
    from wx_posts p, wx_users u where u.id = p.userid
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wx_posts
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fc.test.model.auto.WxPost">
    insert into wx_posts (id, userid, title, 
      content, status, flags, 
      class, begintime, endtime
      )
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{flags,jdbcType=VARCHAR}, 
      #{class,jdbcType=VARCHAR}, #{begintime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fc.test.model.auto.WxPost">
    insert into wx_posts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="flags != null">
        flags,
      </if>
      <if test="class != null">
        class,
      </if>
      <if test="begintime != null">
        begintime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="flags != null">
        #{flags,jdbcType=VARCHAR},
      </if>
      <if test="class != null">
        #{class,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.test.model.auto.WxPost">
    update wx_posts
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="flags != null">
        flags = #{flags,jdbcType=VARCHAR},
      </if>
      <if test="class != null">
        class = #{class,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        begintime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.test.model.auto.WxPost">
    update wx_posts
    set userid = #{userid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      flags = #{flags,jdbcType=VARCHAR},
      class = #{class,jdbcType=VARCHAR},
      begintime = #{begintime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>